main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  .track-here {
    h2 {
      color: black;
    }
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 1000px;
  }
}
