footer {
  height: var(--footer-height);
  display: flex;
  justify-content: left;
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #784af4;
  background-color: #ecf0f1;


  .f-col {
    display: flex;
    flex: 0.4;
    justify-content: center;
  }

  // a {
  //   padding: 0;
  //   margin: 0;
  //   margin: 0 10px;
  //   text-decoration: none;
  //   font-size: 100%;
  //   font-weight: 700;
  // }
}
